@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.custom-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a78cd3;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78cd3;
}

html,div {
  scrollbar-color: #a78cd3 #000;
  scrollbar-width: thin;
}

.custom-datepicker-popper {
  z-index: 1050; /* أعلى من أي عناصر أخرى */
}
/* .rdt_Table{
  width:90% !important;
} */